<div *ngIf="showHome">
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="'25%'" *ngFor="let country of countries">
      <mat-card class="mat-elevation-z4"
        style="height: 60%; border: 2px solid #808080; border-radius: 10px; margin: 20px; background-color: white;">
        <a href="javascript:void(0);" (click)="selectionCountry(country)">
          <img mat-card-image src="assets/{{country.image}}.png" style="padding-left: 23px; height: 100%; width: 95%;">
        </a>
      </mat-card>
      <p style="text-align:center; color: #D31A25; font-size: 16px; margin-top: -0.75rem;
      font-family: 'Right grotesk spatial',sans-serif;
      font-size: 2.375rem;
      line-height: 1.2037037037037037;
      font-weight: 900;">
        {{country.name}}
      </p>
    </div>
  </div>
</div>

<div class="container" *ngIf="showListChannels">
  <div id="comp-render">
    <app-channels></app-channels>
  </div>
</div>

<footer class="bg-light text-center text-lg-start" style="background-color: #d41c24; height: 220px; margin-top: 200px;">
  <p style="text-align:center; color: white; font-size: 16px; margin-top: 50px;
  font-family: 'Right grotesk spatial',sans-serif;
  font-size: 2.375rem;
  line-height: 1.2037037037037037;
  font-weight: 900; padding-top: 20px;">
    English On Tv
  </p>
  <p style="text-align:center; color: white; margin-top: 120px;">
    <a style="color: white; text-decoration:none" href="http://www.webmatte.com.br">
      Developed by Webmatte Soluções Web
    </a>
  </p>
</footer>